.header{
  text-align: center;
}

.main{
  width: 100%;
  /* height: calc(100vh - 77px); */
  padding-top: 240px;
}

@media (max-width:1024px) {
  .main{
    padding-top: 100px;
  }
}

@media (max-width:768px) {
  .main{
    padding-top: 40px;
  }
}